// 
// Navbar
// 

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    // my name and logo
    .navbar-brand {
        color: $white;
        margin-right: auto; // push to the left

        #console-logo{
            position: relative;

            #logo-show-cursor, #logo-hide-cursor{
                width: 40px;
                height: 40px;
            }

            #logo-show-cursor{
                -webkit-animation: showCursor 1.5s steps(1) infinite;
                animation: showCursor 1.5s steps(1) infinite;
                will-change: display;
                transform: translateZ(0);
            }

            #logo-hide-cursor{
                -webkit-animation: hideCursor 1.5s steps(1) infinite;
                animation: hideCursor 1.5s steps(1) infinite;
                will-change: display;
                transform: translateZ(0);
            }
            
            @keyframes showCursor{
                0%, 50% {
                    display: none;
                }
                50.1%, 100% {
                    display: inline;
                }
            }

            @-webkit-keyframes showCursor{
                0%, 50% {
                    display: none;
                }
                50.1%, 100% {
                    display: inline;
                }
            }

            @keyframes hideCursor{
                0%, 50% {
                    display: inline;
                }
                50.1%, 100% {
                    display: none;
                }
            }

            @-webkit-keyframes hideCursor{
                0%, 50% {
                    display: inline;
                }
                50.1%, 100% {
                    display: none;
                }
            }

        }
        
    }

    .navbar-nav {
        margin-top: 1rem;
        margin-left: auto; // push to the right

        li.nav-item {
            a.nav-link {
                color: $white;

                &:hover {
                    color: $primary;
                }

                &:active,
                &:focus {
                    color: $white;
                }

                &.active {
                    color: $primary;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;

        .navbar-brand {
            font-size: 1.75em;
            transition: font-size 0.3s;
        }

        .navbar-nav {
            margin-top: 0;
        }

        .navbar-nav>li.nav-item>a.nav-link.active {
            color: $white;
            background: $primary;

            &:active,
            &:focus,
            &:hover {
                color: $white;
                background: $primary;
            }
        }
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .navbar-brand {
            font-size: 1.5em;
        }
    }
}
