// 
// Masthead
// 

.masthead {

    // // Background image
    // background-image: url('../../assets/img/bgimg/rocket_laptop_bg.webp');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;

    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;

    .masthead-heading {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .masthead-subheading {
        font-size: 1.25rem;
    }

    .masthead-avatar {
        width: 15rem;
    }
}

.masthead-avatar {
    width: 250px; // Adjust size as needed
    height: 250px; // Adjust size as needed
    border-radius: 50%; // Makes the image a circle
    object-fit: cover; // Ensures the image covers the area without distortion
    border: 5px solid $primary; // Optional: adds a border around the image
}

@include media-breakpoint-up(lg) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;

        .masthead-heading {
            font-size: 4rem;
            line-height: 3.5rem;
        }

        .masthead-subheading {
            font-size: 1.5rem;
        }

    }
}
